contactsTable, th, td{
	border: 1px solid rgb(211, 82, 236);
}

contactsTable, th:first-child{
	width: 35px;
}

contactsTable, th:last-child{
	width: 60px;
}

contactsTable, th{
	width: 200px;
}
